<div class="container">
  <div class="row">
    <a class="btn btn=primary" routerLink="/admin">Back to List</a>
  </div>
  <div>
    <div class="form-group">
      <label>Cake Name</label>
      <div class="form-control">{{cakeCr.title}}</div>
    </div>
    <div class="form-group">
      <label>Description</label>
      <div class="form-control">{{cakeCr.desc}}</div>
    </div>
    <div class="form-group">
      <label>Image URL</label>
      <div class="form-control"><<img src="{{cakeCr.image}}"></div>
    </div>
  </div>
</div>
